html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}
body {
    width: 650px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
#title {
	position: relative;
	animation: anime1 3s linear 0s 1 normal;
    font-size: 55px;
    text-align: center;
    color: #33FFFF;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
}

@keyframes anime1 {
	0% { top: -32rem; }
	10% { top: -27rem; }
	20% { top: -20rem; }
	30% { top: -11rem; }
	40% { top: -0rem; }
	45% { top: -1.75rem; }
	50% { top: -3rem; }
	55% { top: -3.75rem; }
	60% { top: -4rem; }
	65% { top: -3.75rem; }
	70% { top: -3rem; }
	75% { top: -1.75rem; }
	80% { top: 0rem; }
	85% { top: -0.75rem; }
	90% { top: -1rem; }
	95% { top: -0.75rem; }
	100% { top: 0rem; }
}

h2 {
    font-size: 55px;
    color: #0000FF;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
}
  
p {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    color: #0000CD;
}
.quiz-answer {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}
img {
    display: block;
    margin: 0 auto;
}
.link{
    
}
  
